

body {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
/*  background-color: lightblue;*/
  font-family: 'Roboto', sans-serif;
  background-image: url('./concert.jpeg');
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
/*  justify-content: center;*/
}
p, button, label, link, a{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}



button, .nav-link {
  background:none;
  border: 2px solid rgb(31, 39, 46);
  color: rgb(31, 39, 46);
  font-size:1em;
  cursor:;
}

button:hover {
  border: 2px solid white;
  color: white;
}

input, select {
  width: 200px;
  height: 25px;
  font-size: 12px;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

h1 {
  font-size: 60px;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Righteous', cursive;
}

footer{
  background-color: rgb(31, 39, 46);
  height: 50px;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  align-items: center;
}

main {
  margin-bottom: 200px;
  background-color: rgba(82, 103, 122, .8);
  width: 95vw;
  margin: 20px 0;
  border-radius: 10px;
  min-height: calc(100vh - 50px);
  padding-bottom: 20px;
  border: 2px solid black;
/*  max-width: 1100px;*/
}

li {
  color: white;
  list-style-type: none;
}

.poster{
  max-width: 800px;
}

.checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
}

.nav-link:hover{
  text-decoration: underline;
}

.link {
  color: rgb(31, 39, 46);
  text-decoration: none;
}

.link:hover {
  color: white;
}


.clear { clear: both; height: 60px; }

#nav-bar{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 85vw;
  height: 200px;
  background-color: rgba(31, 39, 46, .8);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  padding: 0 3px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
}

.card {
  width: calc(25% - 10px);
  min-width: 150px;
  height: 184px;
  background-color: rgb(162, 174, 195);
  border: 2px solid black;
  margin: 3px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-around;
}

.info-container{
  background-color: rgba(31, 39, 46, .8);
  max-width: 85vw;
  border: 2px solid black;
}

.show-info {
  color: white;
  width: 33%;
}

.row {
  display: flex;
  justify-content: center;
}

.row-around {
  width: 100vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

