
body {
  height: calc(100vh - 60px);
  width: 100vw;
  text-align: center;
  background-color: lightblue;
}


footer{
  background-color: gray;
  height: 60px;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}

#nav-bar{
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
