
body {
  height: calc(100vh - 60px);
  width: 100vw;
  text-align: center;
  background-color: lightblue;
}


footer{
  background-color: gray;
  height: 60px;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  align-items: center;
}

main {
  margin-bottom: 100px;
}

#nav-bar{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  width: 90vw;
  height: 200px;
  background-color: linen;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  padding: 0 3px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  position: relative;
  white-space: nowrap;
}

.card {
  width: calc(25% - 10px);
  min-width: 150px;
  height: 184px;
  background-color: cadetblue;
  border: 2px solid black;
  margin: 3px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: center;
}

.row-around {
  width: 100vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

